{
  "ignorePatterns": ["dist", "node_modules"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "google",
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "new-cap": "off",
    "max-len": "off",
    "require-jsdoc": "off",
    "semi": ["error", "always"],
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "trailingComma": "es5",
        "singleQuote": false,
        "tabWidth": 2,
        "printWidth": 80,
        "endOfLine": "lf"
      }
    ],
    "guard-for-in": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
