.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-background-color);
  z-index: 99999;

  &_result {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_message {
    font-size: var(--text-size-xxl);
    text-shadow: var(--shadow-glitch);
  }

  &_score {
    font-size: var(--text-size-l);
  }

  &--hide {
    display: none;
  }

  &_confetti {
    position: fixed !important;
  }
}
