.leader-board {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 730px;

  &__title {
    text-shadow: var(--shadow-glitch);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__button {
    width: auto;
  }

  &__pagination {
    margin-top: auto;
  }
}
