.leader-board__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 15px 50px;
  box-sizing: border-box;
  border: 2px solid transparent;

  &:hover {
    border-color: var(--color-gray-4);
    box-shadow: var(--shadow-general);
  }
}

.item {
  &__ranking {
    width: 20%;
    min-width: 48px;
    position: relative;
  }
  &__ranking-number {
    display: block;
    width: 52px;
    text-align: center;
  }
  &__player {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    padding-right: 10px;
  }
  &__player-image {
    box-shadow: var(--shadow-general);
    margin-right: 40px;
  }
  &__player-name {
    hyphens: auto;
  }
  &__score {
    color: var(--color-yellow);
  }
  &_color--grey {
    color: var(--color-gray-1);
  }
  &_position--absolute {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translate(0, -70%);
    z-index: 2;
  }
  &_z-index-low {
    z-index: -1;
  }
}
