.forum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-shadow: var(--shadow-glitch);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  &__table {
    max-width: 700px;
    margin-bottom: 30px;
    border-collapse: collapse;
  }
  &__pagination {
    margin-bottom: 25px;
  }
  &__button {
    width: auto;
  }
  &__button_create {
    margin-top: 20px;
  }
  &__new-theme-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px;
    padding: 44px 16px 16px 16px;
    gap: 16px;
    border: var(--border) transparent;
  }
  &__new-theme-form_error {
    border-color: var(--color-red);
  }
}

.table__cell {
  padding: 0.2rem;
  text-align: center;
  white-space: normal;
  cursor: pointer;
  font-size: var(--text-size-s);

  &_left {
    text-align: left;
    padding-left: 60px;
  }
}

.table__row:hover {
  outline: 2px solid var(--color-purple-1);
}

.table__head {
  border: 1px solid var(--secondary-border-color);
  margin-bottom: 35px;

  &_theme {
    width: 400px;
  }
  &_updated,
  &_comments {
    width: 25%;
  }
}

.table__body::before {
  content: "";
  display: block;
  height: 25px;
}
