.forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;

  &__title {
    text-shadow: var(--shadow-glitch);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    width: 800px;
    margin: 0 0 30px 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    &:hover {
      border-color: transparent;
    }

    &_border {
      border: 1px solid var(--secondary-border-color);
    }
    &_column {
      flex-direction: column;
    }
  }
  &__pagination {
    margin-bottom: 25px;
  }

  &__button {
    width: auto;
    margin-top: auto;
    margin-bottom: 30px;
  }

  &__button_create {
    margin-top: 20px;
  }

  &__new-theme-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px;
    padding: 44px 16px 16px 16px;
    gap: 16px;
    border: var(--border) transparent;
  }

  &__new-theme-form_error {
    border-color: var(--color-red);
  }
}

.forum-list {
  &__item {
    word-wrap: break-word;
    text-align: center;
    &.list__item:hover {
      border-color: transparent;
      box-shadow: none;
    }
  }
  &__theme {
    width: 40%;
  }
  &__updated,
  &__comments {
    width: 25%;
  }
}
