.forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 730px;

  &__title {
    text-shadow: var(--shadow-glitch);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    width: 900px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    &_border {
      border: 1px solid var(--secondary-border-color);
    }
    &_column {
      flex-direction: column;
    }
  }
  &__list-body {
    height: 445px;
    margin: 30px 0;
  }

  &__pagination {
    margin-bottom: 25px;
  }

  &__button {
    width: auto;
    margin-top: auto;
    margin-bottom: 30px;
  }

  &__button_create {
    margin-top: 20px;
  }

  &__new-theme-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px 16px 16px 16px;
    gap: 16px;
    border: var(--border) transparent;
  }

  &__new-theme-form_error {
    border-color: var(--color-red);
  }
}

.forum-list {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 5px 20px;
    list-style: none;
    word-wrap: break-word;
    font-size: var(--text-size-s);
    height: 75px;
    overflow: hidden;
    &_clamp {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &_center {
      justify-content: center;
    }
  }
  &__theme {
    width: 40%;
  }
  &__updated,
  &__comments {
    width: 25%;
  }
  &__header {
    height: auto;
  }
}
