#canvas {
  width: 1024px;
  height: 768px;
  margin: 0;
}

.game-page {
  display: block;
  position: relative;
  width: 1024px;
  margin: auto;
  background-color: var(--primary-background-color);
  box-shadow: 0 0 10px #000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-background-color);
  z-index: 99999;

  &_result {
    max-width: 400px;
    text-align: center;
  }

  &_message {
    font-size: var(--text-size-xxl);
    color: vat(--primary-font-color);
    text-shadow: var(--shadow-glitch);
  }

  &_score {
    font-size: var(--text-size-l);
    color: vat(--primary-font-color);
  }

  &--hide {
    display: none;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--primary-background-color);
  margin-right: 12px;
  margin-left: 12px;
}

.control-turrets {
  display: flex;
  height: 100%;
  padding: 8px;

  &_gun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    padding: 4px;
    font-size: var(--text-size-xxs);
    border: var(--border) var(--primary-background-color);

    &:hover {
      border-color: var(--color-blue-3);
      background-color: var(--secondary-background-color);
    }
  }

  &_image-gun {
    width: auto;
    height: auto;
    max-width: 58px;
    max-height: 58px;
  }
}

.info {
  &-stats {
    width: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    &_fps {
      font-size: var(--text-size-xxs);
      display: flex;
    }
  }

  &-game {
    width: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 8px;

    &_param {
      font-size: var(--text-size-xs);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span {
        color: var(--color-blue-2);
      }
    }
  }

  &-engine {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;

    &_button {
      margin-top: 8px;
      height: 30px;
      font-size: var(--text-size-xxs);
    }
  }

  &-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  &-fast,
  &-wave {
    border: var(--border) var(--primary-border-color);
    background-color: var(--secondary-background-color);
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;

    &:hover {
      color: var(--color-red);
      background-color: var(--color-blue-3);

      &::after,
      &::before {
        color: var(--color-red);
        background-color: var(--color-blue-3);
      }
    }
  }
}
