.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-background-color);
  z-index: 9999;
  overflow: hidden;

  & svg {
    & path {
      fill: var(--color-blue-3);
    }
  }

  &--hide {
    opacity: 0.00000001;
  }
}
