.leader-board {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--nord0);

  &__title {
    font-size: var(--text-size-1);
    text-shadow: var(--shadow-glitch);
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__list {
    width: 50%;
    margin-bottom: 42px;
  }
}
