.button {
  position: relative;
  width: calc(100% - 20px);
  padding: 4px 32px;
  border: var(--border) var(--tertiary-border-color);
  background-color: var(--secondary-background-color);
  color: var(--primary-font-color);
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;

  font-family: "Orbitron";
  font-size: var(--text-size-m);
  letter-spacing: 0.04em;
  cursor: pointer;

  &::after,
  &::before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--secondary-background-color);
    border: var(--border) var(--tertiary-border-color);
  }

  &::after {
    right: -10px;
  }

  &::before {
    left: -10px;
  }

  &:hover {
    color: var(--button-hover-font-color);
    background-color: var(--color-blue-3);
    border-color: var(--tertiary-border-color);

    &::after,
    &::before {
      color: var(--button-hover-font-color);
      border-color: var(--tertiary-border-color);
      background-color: var(--color-blue-3);
    }
  }

  &:disabled {
    border-color: var(--secondary-border-color);
    background-color: var(--primary-background-color);
    color: var(--tertiary-font-color);
    cursor: default;

    &::after,
    &::before {
      border-color: var(--secondary-border-color);
      background-color: var(--primary-background-color);
    }
  }

  &_back {
    position: fixed;
    top: 15px;
    left: 15px;
  }

  &--primary {
    color: var(--color-blue-3);
    border-color: var(--color-blue-3);

    &::after,
    &::before {
      border-color: var(--color-blue-3);
    }
  }

  &--secondary {
  }

  &--danger {
    color: var(--color-orange);
    border-color: var(--color-orange);

    &::after,
    &::before {
      border-color: var(--color-orange);
    }
  }
}
