.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: var(--text-size-s);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  user-select: none;

  &__item {
    min-width: 40px;
    text-align: center;
    margin-right: 5px;
  }

  &__link {
    border: var(--border) transparent;
    color: var(--primary-font-color);
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__link.active {
    border-color: var(--color-blue-3);
    &:hover {
      color: var(--primary-font-color);
    }
  }
}

.arrow {
  border: 16px solid transparent;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;

  &--prev {
    margin-right: 24px;
    border-right: 24px solid var(--primary-border-color);
    &:hover {
      border-right-color: var(--color-blue-2);
    }
  }

  &--next {
    margin-left: 24px;
    border-left: 24px solid var(--primary-border-color);
    &:hover {
      border-left-color: var(--color-blue-2);
    }
  }

  &--hidden {
    display: none;
  }
}
