.pagination {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
  font-size: var(--text-size-s);

  &__item {
    min-width: 40px;
    text-align: center;
    margin-right: 5px;
  }
  &__link {
    color: var(--color-white);
    &:hover {
      text-decoration: none;
    }
  }
  &__link.active {
    border: 2px solid var(--color-blue-3);
    &:hover {
      color: var(--color-white);
    }
  }
}

.arrow {
  border: 8px solid transparent;
  display: block;
  width: 0;
  height: 0;

  &--prev {
    border-right: 16px solid var(--color-white);
    &:hover {
      border-right-color: var(--color-blue-2);
    }
  }
  &--next {
    border-left: 16px solid var(--color-white);
    margin-left: 16px;
    &:hover {
      border-left-color: var(--color-blue-2);
    }
  }
  &--hidden {
    display: none;
  }
}
