.pagination {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;

  &__item {
    min-width: 50px;
    text-align: center;
  }
  &__link {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  &__link.active {
    border: 2px solid #56ccf2;
    &:hover {
      color: #fff;
    }
  }
}

.arrow {
  border: 10px solid transparent;
  display: block;
  width: 0;
  height: 0;

  &--prev {
    border-right: 16px solid #fff;
    &:hover {
      border-right-color: #2d9cdb;
    }
  }
  &--next {
    border-left: 16px solid #fff;
    margin-left: 25px;
    &:hover {
      border-left-color: #2d9cdb;
    }
  }
  &--hidden {
    display: none;
  }
}
