.list__item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 20px;
  list-style: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  font-size: var(--text-size-s);
  gap: 16px;
  position: relative;

  &:hover {
    border-color: var(--color-purple-2);
    box-shadow: var(--shadow-blue);
  }
}
