:root {
  --primary-font-color: #ffffff;
  --primary-border-color: #ffffff;
  --primary-background-color: #333333;

  --secondary-font-color: #333333;
  --secondary-border-color: #bdbdbd;
  --secondary-background-color: #4f4f4f;

  --tertiary-font-color: #bdbdbd;
  --tertiary-border-color: #f2f2f2;
  --tertiary-background-color: rgba(0, 0, 0, 0.7);

  --placeholder-color: #828282;
  --button-hover-font-color: #000000;
  --scroll-thumb-color: #bdbdbd;
  --scroll-border-color: #4f4f4f;
  --game-border-color: #333333;
  --label-background-color: #f2f2f2;
  --shadow-color: #000000;
  --score-color: var(--color-orange);

  --color-red: #eb5757;
  --color-blue-1: #2d9cdb;
  --color-blue-2: #56ccf2;
  --color-green: #27ae60;
  --color-orange: #f2994a;
  --color-purple: #bb6bd9;

  --shadow-glitch: 1px 1px 0 var(--shadow-color), 2px 2px 0 var(--color-blue-2),
    3px 3px 0 var(--color-red);
  --shadow-purple: 2px 2px 0 var(--color-purple);
  --shadow-blue: 2px 2px 0 var(--color-blue-2);
}

body.light-theme {
  --primary-font-color: #333333;
  --primary-border-color: #333333;
  --primary-background-color: #ffffff;

  --secondary-font-color: #333333;
  --secondary-border-color: #4f4f4f;
  --secondary-background-color: #f2f2f2;

  --tertiary-border-color: #4f4f4f;
  --tertiary-background-color: rgba(255, 255, 255, 0.7);

  --label-background-color: #bdbdbd;
  --shadow-color: #ffffff;
  --score-color: #bf5c0b;

  --shadow-glitch: 1px 1px 0 var(--shadow-color), 2px 2px 0 var(--color-blue-2),
    3px 3px 0 var(--color-red);
}
