:root {
  --text-size-xxs: 12px;
  --text-size-xs: 16px;
  --text-size-s: 18px;
  --text-size-m: 20px;
  --text-size-l: 24px;
  --text-size-xl: 34px;
  --text-size-xxl: 60px;
}

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/orbitron.ttf") format("opentype");
}

@font-face {
  font-family: "Hacked";
  src: url("../assets/fonts/hacked.ttf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-size-m);
}
