:root {
  --text-size-1: 46px;
  --text-size-2: 32px;
  --text-size-3: 26px;
  --text-size-4: 20px;
  --text-size-5: 18px;
}

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/orbitron.ttf") format("opentype");
}

@font-face {
  font-family: "Hacked";
  src: url("../assets/fonts/hacked.ttf") format("opentype");
}
