.leader-board__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  list-style: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  font-size: var(--text-size-s);
  gap: 16px;
  position: relative;
  width: 810px;

  &:hover {
    border-color: var(--color-purple-2);
    box-shadow: var(--shadow-blue);
  }
}

.item {
  &__ranking {
    width: 50px;
    top: 30px;
    position: absolute;
  }

  &__ranking-number {
    display: block;
    width: 50px;
    text-align: center;
  }

  &__name {
    hyphens: auto;
    color: var(--primary-font-color);
  }

  &__score {
    margin-left: auto;
    text-align: right;
    color: var(--score-color);
    font-family: monospace;
  }

  &_shield {
    z-index: 2;
    color: var(--secondary-font-color);
  }
}
